.comment-modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  .logowebsite {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    .logoUS {
      width: 150px;
    }
  }

  .post-overlay {
    display: flex;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 100vw;
    max-height: 100vh;
    position: relative;
  }
  .image-Post {
    width: 60%;
    height: 100vh;
    background-color: black;
    .post-media {
      width: 100%;
      height: 100vh;
      object-fit: contain;
    }
    .back-icon {
      width: 30px;
      height: 100vh;
      background-color: #2c2c2c29;
      position: absolute;
      display: flex;
      align-items: center;
      z-index: 10;
      &:hover {
        background-color: #8a8a8ab2;
      }
    }
    .next-icon {
      background-color: #2c2c2c29;
      width: 30px;
      height: 100vh;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      z-index: 10;
      &:hover {
        background-color: #8a8a8ab2;
      }
    }
  }

  .content-post {
    width: 40%;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow: hidden; // Đảm bảo nội dung không bị tràn ra ngoài
  }

  .avatar-and-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar-and-name {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .Time-post-Comments-Modal {
        color: rgb(56, 56, 56);
        font-size: 14px;
        margin: 10px;
        font-weight: lighter;
      }
    }
  }

  .post-content {
    font-size: 24px;
    margin: 12px 20px;
  }

  .interactions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;

    div {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
  }

  .comments-section {
    position: relative;
    flex: 1;
    margin: 10px 0px;
    overflow-y: auto;
    max-height: calc(84vh - 200px);
    max-width: 100%; // Đảm bảo không vượt quá content-post

    .comment {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .comment-content {
        background: #f0f0f0;
        padding: 8px;
        border-radius: 12px;
        //flex: 1;
        max-width: 80%; // Đảm bảo không bị tràn ra ngoài
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        .comment-username {
          font-weight: bold;
        }
      }
    }
    .comment-actions {
      display: flex;
      align-items: center;
      // margin-left: 100px;
      cursor: pointer;
      margin: 0px 70px;

      .like-icon {
        width: 20px;
        height: 20px;
        margin: 0px 10px;
      }
      span {
        margin: 10px;
      }
    }
    .more-reply-comment {
      cursor: pointer;
      font-weight: bold;
      margin: 0px 80px;
    }
  }

  .comment-input {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    // transform: translateX(-50%);
    width: 40%;
    height: 100px;
    background: white;
    // padding: 8px;
    border-top: 1px solid #ddd;

    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 10px;
    }

    textarea {
      flex: 1;
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
      resize: none;
    }

    button {
      width: 80px;
      margin-left: 10px;
      padding: 8px 12px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

//rely commnet
.reply-section {
  margin-left: 60px;
  border-left: 2px solid #ddd;
  padding-left: 10px;

  .reply-comment {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .reply-content {
      background: #f0f0f0;
      padding: 8px;
      border-radius: 12px;
      //flex: 1;
      max-width: 80%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;

      .reply-username {
        font-weight: bold;
      }
    }

    .more-options {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .comment-rely-actions {
    display: flex;
    align-items: center;
    // margin-left: 100px;
    cursor: pointer;
    margin: 0px 70px;

    .like-rely-icon {
      width: 20px;
      height: 20px;
      margin: 0px 10px;
    }
    span {
      margin: 10px;
    }
  }
}
.reply-input {
  margin: 0px 60px;
  width: 80%;
  max-height: 100px;
  display: flex;
  align-items: center;
  textarea {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    width: 400px;
    min-height: 50px;

    overflow-y: auto;
    outline: none;
    resize: none;
    border-radius: 10px;
    font-size: 14px;
  }
  button {
    width: 60px;
    font-size: 14px;
    height: 30px;
    margin: 0px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
  }
}
