@media (max-width: 768px) {
  .setting-modal-background {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.375);
    z-index: 99;
  }
  .setting-Overlay {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}
