.friends-view-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// .header {
//   z-index: 1000;
// }

.friends-view {
  display: flex;
  margin-top: 60px; /* Khoảng cách để không bị che bởi header */
}

.friends-content {
  margin-left: 270px; /* Để lại khoảng trống cho sidebar */
  padding: 20px;
  flex: 1;
  background-color: #ffffff; /* Nền trắng */
}

.friends-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.friend-request-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
